body{
	font-family: sans-serif;
	font-size: 18px;
	color: #3d3d3d;
	background-color: #f7f7f7;
	margin: 0;
}

a {
	text-decoration: none;
}

form{
	margin: 18px 0;
}


input {
	color: #3d3d3d;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 3px;
}

input:focus{
	outline: none;
}

input.equation_input{
	width: 85%;
}

.tooltip input.equation_input {
	box-shadow: 0 0 5px 1px red;
}

input.large{
	height: 30px;
	font-size: 18px;
	font-size: 18px;
	padding: 5px;
}

input.small_input{
	height: 15px;
	font-size: 14px;
	padding: 2px;
}

input.range {
	padding: 5px 10px;
	font-size: 14px;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}

input:checked {
	background-color: rgba(220, 220, 220);
}

.flex ul {
	display: inline-block;
	text-align: left;
	line-height: 24px;
	width: 150px;
}

hr{
	border: .5px solid #b7b7b7;
	margin: auto;
}

h3 {
	margin: 10px auto;
	font-size: 18px;
}

p {
	margin: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#header {
	color: white;
	padding: 0px 25px;
}
#header h1{
	display: inline-block;
	margin: 25px 25px;
}

#header .navbar {
	display: flex;
	float: right;
	font-size: 20px;
	margin: 0;
	height: 91px;
	padding: 0px 25px;
}

#header .navbar li {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100px;
	height: 100%;
	list-style-type: none;
}


#header a{
	color: white;
	text-decoration: none;
}

#header .navbar li:hover{
	background-color: #98AABF;
}

.body_container{
	width: 95%;
	max-width: 1300px;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 20px 0px;
	margin-bottom: 100px;
}

.gradient {
	background-image: linear-gradient(to bottom, rgba(167, 189, 214, .9) 0, rgba(167, 189, 214, 1));
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.gray_gradient {
		background-image:linear-gradient(to bottom, rgba(220, 220, 220, .2) 0, rgba(220, 220, 220, .4));
	}

.well {
	text-align: center;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
	background-color: white;
	margin: 20px 0;
	padding: 10px 30px;
}

.card {
	text-align: left;
}

.card h3 {
	text-align: center;
	margin: 10px 0;
}

.card p {
	padding: 10px 0;
}

.small {
	font-size: 14px;
}

.badge {
	display: inline-block;
	width: 15%;
	background-image:linear-gradient(to bottom, rgba(220, 220, 220, .2) 0, rgba(220, 220, 220, .4));
	border-radius: 3px;
	border: 1px solid rgb(220, 220, 220);
	padding: 5px 10px;
	vertical-align: top;
	margin: 10px 10px 0 0;
}

#xy_input .line{
	text-align: center;
}

.line {
	position: relative;
	margin: 20px 0;
}

.hover:hover{
	cursor: pointer;
}

.flex {
	display: flex;
	justify-content: center;
}

.left_col{
	width: 50%;
	text-align: center;
	/*display: flex;*/
	/*flex-direction: column;*/
	justify-content: center;
}

.center_col {
	width: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.right_col{
    width: 50%;
	text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.guide_col {
	width: 100%;
	text-align: left;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.mode_form {
	display: none;
}

.active_form {
	display: block !important;
}

#t_value{
	display: inline-block;
}

.slider_container{
	display: inline-block;
	width: 75%;
	margin: auto;
}

.slider{
	-webkit-appearance: none;
	background-color: #b7b7b7;
	width: 100%;
	height: 2px;
	margin: 20px 0;
	border-radius: 1px;
	border: none;
	padding: 0px;
}

.slider:hover {
	cursor: pointer;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(167, 189, 214);
	box-shadow: inset 0 2px 6px rgba(0,0,0,.1), 0 2px 0 rgba(255,255,255,.2);
	cursor: pointer;
}


.slider::-moz-range-thumb{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(167, 189, 214);
	box-shadow: inset 0 2px 6px rgba(0,0,0,.1), 0 2px 0 rgba(255,255,255,.2);
	cursor: pointer;
	border: none;
}

#k_range{
	margin-top: 5px;
}

#kmin, #kmax{
	width: 35px;
}

#k_min_container{
	float: left;
}

#k_max_container{
	float: right;
}

.center_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 55px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	width: 75px;
	height: 150px;
	margin: auto;
	padding-left: 15px;
	border-radius: 10px;
	border: none;
	box-shadow: inset 0 2px 6px rgba(0,0,0,.1), 0 2px 0 rgba(255,255,255,.2);
}

.center_button:hover{
	transform: scale(1.02);
}

.indented{
	margin-left: 50px;
	text-align: left;
}

.blue_links a{
	color: rgb(167, 189, 214);
	text-decoration: none;
}

.blue_links a:hover{
	font-weight: bold;
}

.image_banner_wrapper {
	background-image: url('Images/home-image.jpeg');
	background-size: cover;
	border-top: 2px solid rgb(220, 220, 220);
}

.image_banner {
	width: 100%;
	min-height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
}

.image_banner .overlay{
	width: 500px;
	max-width: 95%;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
	margin: auto;
	border-radius: 5px;
	padding: 20px;
}

.image_banner .overlay h2{
	margin: 10px 0;
}

.overlay_text {
	text-align: left;
	padding: 0 10px;
	margin-bottom: 20px;
}

.image_banner .center_button {
	display: inline-block;
	float: right;
	width: auto;
	height: auto;
	font-size: 24px;
	padding: 15px;
}

.samples_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sample {
	width: 20%;
	min-width: 300px;
	padding: 30px;
}

.sample img{
	width: 100%;
	margin-bottom: 20px;
}

.tmin, .tmax{
	width: 35px;
}

.mode_dropdown_wrapper {

}

#mode_dropdown {
	height: 30px;
	color: #3d3d3d;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 3px;
}

#mode_dropdown:focus{
	outline: none;
}

#canvas {
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
}

.graph_wrapper {
	position: relative;
	display: inline-block;
	margin: auto;
}

.toolbar_overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 70px;
	width: 220px;
	z-index: 1;
	overflow: hidden;
}

.toolbar_overlay ul{
	display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
	top: 100%;
	right: 0;
	height: 100%;
	width: 200px;
	margin: 0;
	padding: 0;
	-moz-transition: top 1s;
	-webkit-transition: top 1s;
	transition: top 1s;
	border-top-left-radius: 6px;
}

.toolbar_overlay:hover ul {
	top: 20px;
}

.toolbar_overlay li {
	display: inline-block;
	list-style-type: none;
	height: 50px;
	width: 50px;
}

.toolbar_overlay li:hover {
	background-color: rgba(0, 0, 0, .3);
	border-top-left-radius: 6px;

}

.toolbar_overlay li img{
	fill: white;
	height: 70%;
	margin: 15%;
}

.credit {
	color: rgba(0, 0, 0, .2);
	text-align: right;
	padding: 0px;
	margin-top: -5px;
	font-size: 12px;
	text-align: right;
}

.credit a{
	color: rgb(0, 0, 0, .2);
	font-weight: bold;
}

.graph_options {
	margin: 10px auto;
	padding: 10px 10px;
	background-color: #f7f7f7;
	border: 1px solid rgb(220, 220, 220);
	max-width: 600px;
}

.checkbox_wrapper {
	display: flex;
	justify-content: space-around;
	margin: auto;
}

.graph_options input:disabled + label{
	color: rgb(220, 220, 220);
}

.dropdowns_flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.dropdown_wrapper {
	display: inline-block;
	margin-top: 10px;
}

.colors_dropdown {
	display : inline-block;
	position: relative;
	width: 110px;
	font-size: 12px;
	text-align: left;
}

.graph_options .colors_dropdown span {
	position: absolute;
	top: 4px;
	right: 5px;
}

.colors_dropdown .selected {
	border: 1px solid rgb(220, 220, 220);
	border-radius: 5px;
	height: 25px;
	padding: 1px;
}

.colors_dropdown .selected .option {
	display: inline-block;

}

.colors_dropdown .selected:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}

.colors_dropdown .selected:hover .option {
	border-color: #e6e6e6;
}

.colors_dropdown .options {
	position: absolute;
	top: 100%;
	z-index: 1;
	border: 1px solid rgb(220, 220, 220);
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, .1);
	margin-bottom: 10px;
}

.colors_dropdown .option {
	border-left: 5px solid #f7f7f7;
	border-right: 5px solid #f7f7f7;
	border-top: 5px solid #f7f7f7;
	border-bottom: 5px solid #f7f7f7;
	height: 15px;
	width: 80px;
}

.colors_dropdown .hidden {
	display: none;
}

.colors_dropdown .option:hover {
	border-left: 5px solid #e6e6e6;
	border-right: 5px solid #e6e6e6;
	border-top: 5px solid #e6e6e6;
	border-bottom: 5px solid #e6e6e6;
	cursor: pointer;
}

.graph_options span {
	margin-top: 5px;
	margin-bottom : 5px;
}

.tooltip_wrapper{
	position: absolute;
	left: 100.5%;
	top: -5px;
	width: 250px;
}

.tooltip_text{
	visibility: hidden;

	background-color: rgba(0,0,0,0.65);
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);

	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
}

.tooltip_text span {
	position: relative;
	width: auto;
}

.tooltip_text:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid rgba(0, 0, 0, .65);
    left:-8px;

    top:7px;
}

.tooltip:hover .tooltip_text{
	visibility: visible;
	opacity: 1;
}

@media (max-width: 1100px){
	.body_container {
		display: block;
	}
	.well{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.left_col{
		width: 100%;
	}
	.right_col {
		width: 100%;
	}
	input.equation_input{
		width: 88%;
	}
	.error input.equation_input{
		width: 84%;
	}
	.center_col {
		height: 130px;
		width: 100%;
	}
	.center_button{
		flex-direction: row;
		width: 98%;
		height: 100px;
		margin: auto;
		text-align: center;
		font-size: 65px;
		padding: 5px 0 0 0;
	}
	.tooltip_wrapper {
		top: 115%;
		left: 70px;
		width: 80%;
		max-width: 100%;
	}
	.tooltip_text:before{
    	border-left: 8px solid transparent;
    	border-right: 8px solid transparent;
    	border-bottom:8px solid rgba(0, 0, 0, .65);
    	top:-16px;
    	left:7px;
	}

}


@media (max-width: 650px){
	#header h1{
		margin: auto ;
		width: 100%;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	#header .navbar {
		display: block;
		float: none;
		height: auto;
		padding-bottom: 15px;
	}
	#header .navbar li {
		padding: 10px 0px;
		width: 100%;
	}
	.well {
		padding: 10px;
	}
	#xy_input {
		padding-left: 10px;
	}
	input.equation_input{
		width: 78%;
	}
	.error input.equation_input{
		width: 70%;
	}
	.slider_container {
		width: 90%;
	}
}
