body{
	font-family: sans-serif;
	font-size: 18px;
	color: #3d3d3d;
	background-color: #f7f7f7;
	margin: 0;
}

a {
	text-decoration: none;
}

form{
	margin: 18px 0;
}


input {
	color: #3d3d3d;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 3px;
}

input:focus{
	outline: none;
}

input.equation_input{
	width: 87%;
}

.error input.equation_input{
	width: 81%;
}

input.large{
	height: 30px;
	font-size: 18px;
	font-size: 18px;
	padding: 5px;
}

input.small_input{
	height: 15px;
	font-size: 14px;
	padding: 2px;
}

input.range {
	padding: 5px 10px;
	font-size: 14px;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}

.flex ul {
	display: inline-block;
	text-align: left;
	line-height: 24px;
	width: 150px;
}

hr{
	border: .5px solid #b7b7b7;
	margin: 20px auto;
}

p {
	margin: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#header {
	color: white;
	padding: 0px 25px;
}
#header h1{
	display: inline-block;
	margin: 25px 25px;
}

#header .navbar {
	display: flex;
	float: right;
	font-size: 20px;
	margin: 0;
	height: 91px;
	padding: 0px 25px;
}

#header .navbar li {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100px;
	height: 100%;
	list-style-type: none;
}


#header a{
	color: white;
	text-decoration: none;
}

#header .navbar a:hover{
	background-color: #98AABF;
}

.body_container{
	width: 95%;
	max-width: 1300px;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 20px 30px;
}

.gradient {
	background-image: linear-gradient(to bottom, rgba(167, 189, 214, .9) 0, rgba(167, 189, 214, 1));
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.gray_gradient {
		background-image:linear-gradient(to bottom, rgba(220, 220, 220, .2) 0, rgba(220, 220, 220, .4));
	}

.well {
	text-align: center;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
	background-color: white;
	margin: 20px 0;
	padding: 10px 30px;
}

.card {
	text-align: left;
}

.card h3 {
	text-align: center;
	margin: 10px 0;
}

.card p {
	padding: 10px 0;
}

.small {
	font-size: 14px;
}

.badge {
	display: inline-block;
	width: 15%;
	background-image:linear-gradient(to bottom, rgba(220, 220, 220, .2) 0, rgba(220, 220, 220, .4));
	border-radius: 3px;
	border: 1px solid rgb(220, 220, 220);
	padding: 5px 10px;
	vertical-align: top;
	margin: 10px 10px 0 0;
}

.line {
	margin: 20px 0;
}

.hover:hover{
	cursor: pointer;
}

.flex {
	display: flex;
	justify-content: center;
}

#canvas{
	display: inline-block;
	width: 100%;
	margin: auto;
	border: 1px solid rgb(220, 220, 220);
}

.left_col{
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center_col {
	width: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.right_col{
    width: 50%;
	text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.guide_col {
	width: 100%;
	text-align: left;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

#t_value{
	display: inline-block;
}

.slider_container{
	display: inline-block;
	width: 75%;
	margin: auto;
}

.slider{
	-webkit-appearance: none;
	background-color: #b7b7b7;
	width: 100%;
	height: 2px;
	margin: 20px 0;
	border-radius: 1px;
	border: none;
	padding: 0px;
}

.slider:hover {
	cursor: pointer;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(167, 189, 214);
	box-shadow: inset 0 2px 6px rgba(0,0,0,.1), 0 2px 0 rgba(255,255,255,.2);
	cursor: pointer;
}


.slider::-moz-range-thumb{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(167, 189, 214);
	box-shadow: inset 0 2px 6px rgba(0,0,0,.1), 0 2px 0 rgba(255,255,255,.2);
	cursor: pointer;
	border: none;
}

#k_range{
	margin-top: 5px;
}

#kmin, #kmax{
	width: 30px;
}

#k_min_container{
	float: left;
}

#k_max_container{
	float: right;
}

.center_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 55px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	width: 75px;
	height: 150px;
	margin: auto;
	padding-left: 15px;
	border-radius: 10px;
	border: none;
	box-shadow: inset 0 2px 6px rgba(0,0,0,.1), 0 2px 0 rgba(255,255,255,.2);
}

.center_button:hover{
	transform: scale(1.02);
}

.indented{
	margin-left: 50px;
	text-align: left;
}

.blue_links a{
	color: rgb(167, 189, 214);
	text-decoration: none;
}

.blue_links a:hover{
	font-weight: bold;
}

.image_banner_wrapper {
	background-image: url('Images/home-image.jpeg');
	background-size: cover;
	border-top: 2px solid rgb(220, 220, 220);
}

.image_banner {
	width: 100%;
	min-height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
}

.image_banner .overlay{
	width: 500px;
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
	margin: auto;
	border-radius: 5px;
	padding: 20px;
}

.image_banner .overlay h2{
	margin: 10px 0;
}

.overlay_text {
	text-align: left;
	padding: 0 10px;
	margin-bottom: 20px;
}

.image_banner .center_button {
	display: inline-block;
	float: right;
	width: auto;
	height: auto;
	font-size: 24px;
	padding: 15px;
}

.samples_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sample {
	width: 20%;
	min-width: 300px;
	padding: 30px;
}

.sample img{
	width: 100%;
	margin-bottom: 20px;
}

.tooltip{
	position: relative;
}

.tooltip .tooltip_text{
	visibility: hidden;
	width: 200px;
	background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;

	opacity: 0;
	transition: opacity 0.5s;
}

.tooltip:hover .tooltip_text{
	visibility: visible;
	opacity: 1;
}